.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.col-centered{
    margin: 0 auto;
}
.col-left{
    float: left;
}
.col-right{
    float: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.box-r {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icons {
  text-align: center;
}



img[class^=cards]{
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text{
  color:black;
  text-align: center;
}

.test{
  width: 80px;
  height: 130px;
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
}
