@mixin gameStyles() {
  .game{
    background-color: $gray1;
    .menu-solo{
      z-index: 1;
      position: fixed;
      width: 180px;
      background: $gray2;
      border-bottom-right-radius: 5px;
      /* Label logo */
      .menu-content{
        float: inherit;
        .menu-content-title{
          display: flex;
          .label-solo{
            height: 40px;
            width: 100px;
            margin: 10px 0 0 8px;
            background: url($solo) no-repeat;
          }
          .label-online{
            height: 30px;
            width: 110px;
            margin: 15px 0 0 8px;
            background: url($online) no-repeat;
          }
          .icon{
            float: right !important;
            -webkit-transition: -webkit-transform .3s ease-in-out;
            -ms-transition: -ms-transform .3s ease-in-out;
            transition: transform .3s ease-in-out;
            height: 60px;
            width: 60px;
            background: url($bars) no-repeat;
          }
          .icon.expanded{
            transform: rotate(90deg);
            -ms-transform:rotate(90deg);
            -webkit-transform:rotate(90deg);
          }
        }
        .menu-content-params{
          background: $grayInt;
          height: auto;
          max-height: 233px;
          color: $gray4;
          display: block;
          font-size: 20px;
          padding-bottom: 10px;
          border-bottom-right-radius: 5px;
          .row-menu-content{
            padding-top: 10px;
            .row-menu-icon{
              margin: auto;
              height:40px;
              width: 35px;
              .accueil{
                background: url($accueil) no-repeat;
              }
              .params{
                background: url($params) no-repeat;
              }
              .rejouer{
                background: url($rejouer) no-repeat;
              }
            }
            .row-menu-label{
              padding-top: 5px;
              margin: auto;
              width: 80px;
              text-align: center;
              display: block;
            }
          }
        }
      }

    }
    .menu-solo:hover{
      cursor:pointer;
    }
    .players-hand{
      position: fixed;
      top: 0;
      display: grid;
      grid-template-areas:
      'hand1 hand2 hand2 hand2 hand3'
      'hand1 fold fold fold hand3'
      'hand1 fold fold fold hand3'
      'hand1 hand0 hand0 hand0 hand3';

      .hand-2{
        margin: auto;
        grid-area: hand2;
      }
      .hand-1{
        margin: auto;
        grid-area: hand1;
        .list-cards-2{
          .card{
            display: block;
          }
        }
      }
      .hand-3{
        margin: auto;
        grid-area: hand3;
        .list-cards-2{
          .card{
            display: block;
          }
        }
      }
      .hand-0{
        margin: auto;
        grid-area: hand0;
      }

      .fold{
        margin: auto;
        grid-area: fold;
      }
    }
  }
}
