# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
oldApp/node_modules
oldApp/.pnp
.pnp.js

coincheut/node_modules


webApp/node_modules


# testing
oldApp/coverage

# production
oldApp/build

# misc
oldApp/.DS_Store
oldApp/.env.local
oldApp/.env.development.local
oldApp/.env.test.local
oldApp.env.production.local

webAppnpm-debug.log*
webAppyarn-debug.log*
webAppyarn-error.log*

oldApp/src/utils/config.js
