@import "css/variables.scss";
.modal-wrapper {
    position: absolute;
    z-index: 2;
    background: $gray1;
    border: 1px solid $gray3;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    transition: all .8s;
    width: 60%;
}

.bet-user{
  .modal-wrapper {
      top: 180px;
      width: 40%;
  }
}

.modal-header {
    background: $gray2;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    display: flex;
}

.modal-header h2 {
    color: $gray4;
    margin: auto;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
    .bet-value{
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 50px;
      width: 50%;
    }
    .bet-type{
      height: calc(100% - 70px);
      margin: auto;
      margin-top: 20px;
      display: grid;
      grid-template-areas:
      "special-types" "normal-types";
      grid-template-columns: 40% 60%;
      .special-types{
        grid-area: "special-types";
        margin: auto;
        .btn-type{
          margin: 10px;
          background: $grayInt;
          line-height: 30px;
          border-radius: 5px;
          width: 100px;
          height: 30px;
          transition: all .2s ease-in-out;
        }
        .btn-type:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        .active {
          background: $gray3 !important;
        }
      }
      .normal-types{
        grid-area: "normal-types";
        margin: auto;
        display: flex;
        .btn-type{
          margin: 10px;
          background-color: $grayInt;
          line-height: 50px;
          border-radius: 5px;
          width: 50px;
          height: 50px;
          transition: all .2s ease-in-out;
        }
        .btn-type:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        .h {
          background: url($heart) no-repeat;
        }
        .d {
          background: url($diamond) no-repeat;
        }
        .c {
          background: url($clove) no-repeat;
        }
        .s {
          background: url($spike) no-repeat;
        }

        .h.active {
          background: url($heartS) no-repeat;
        }
        .d.active {
          background: url($diamondS) no-repeat;
        }
        .c.active {
          background: url($cloveS) no-repeat;
        }
        .s.active {
          background: url($spikeS) no-repeat;
        }
      }

    }
}

.modal-footer {
    background: $gray2;
    height: 35px;
    padding: 15px;
    display: flex;
    .btn-bet {
      background: $grayInt;
      margin: auto;
      color: $gray4;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      height: 40px;
      width: 85px;
      border-radius: 5px;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      margin-left: 20px;
      transition: all .2s ease-in-out;
    }
    .btn-passe {
      background: $grayInt;
      margin-right: 20px !important;
      margin: auto;
      color: $gray4;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      height: 40px;
      width: 85px;
      border-radius: 5px;
      text-align: center;
      vertical-align: middle;
      line-height: 40px;
      transition: all .2s ease-in-out;
    }
    .btn-passe:hover,
    .btn-bet:hover {
      transform: scale(1.1);
    }
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: right;
}




.bet-component{

}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
