$folder: "../img";

//colors
$blue1: #E7E6E6;
$blue2: #CDCCCC;

$gray1: #E7E6E6;
$gray2: #CDCCCC;
$gray3: #9A9999;
$gray4: #343434;
$gray5: #999999;

//img

$logoE: $folder + "/" + "logo-ecriture.svg";
$logoI: $folder + "/" + "logo-icone.svg";
$star: $folder + "/" + "star.svg";

//ecritures
$solo: $folder + "/" + "solo.svg";
$online: $folder + "/" + "online.svg";
$ajout: $folder + "/" + "ajout.svg";
$regles: $folder + "/" + "regles.svg";



//hexa
$hexagone: $folder + "/" + "Hexagone.svg";
$hexagone2: $folder + "/" + "Hexagone2.svg";
