$folder: "../img";

//colors
$blue1: #E7E6E6;
$blue2: #CDCCCC;

//background
$gray1: #E7E6E6;
//background 2
$gray2: #CDCCCC;
//background interm
$grayInt: #ededed;
//font description
$gray3: #9A9999;
//font normal
$gray4: #333;

//Line color
$gray5: #999999;

$red1: #b71c1c;
$yellow: #ff0;

//img

$logoE: $folder + "/" + "logo.svg";
$logoI: $folder + "/" + "logo-icone.svg";
$star: $folder + "/" + "star.svg";

//ecritures
$solo: $folder + "/" + "solo.svg";
$online: $folder + "/" + "online.svg";
$ajout: $folder + "/" + "ajout.svg";
$regles: $folder + "/" + "regles.svg";

//loader
$loader: $folder + "/" + "spinner.svg";

//hexa
$hexagone: $folder + "/" + "Hexagone.svg";
$hexagone2: $folder + "/" + "Hexagone2.svg";

$accueil: $folder + "/" + "accueil.svg";
$params: $folder + "/" + "params.svg";
$rejouer: $folder + "/" + "rejouer.svg";

//bars
$bars: $folder + "/" + "threebars.svg";

// Jeu
$cadre: $folder + "/" + "jeu-cadre.svg";
$initiales: $folder + "/" + "jeu-initiales.svg";
$iconesjeu: $folder + "/" + "jeu-icones.svg";

//arrow
$arrowl: "../" + $folder + "/" + "arrow-left.svg";
$arrowr: "../" + $folder + "/" + "arrow-right.svg";

// COLORS
$heart: "../" + $folder + "/" + "heart.svg";
$clove: "../" + $folder + "/" + "clove.svg";
$spike: "../" + $folder + "/" + "spike.svg";
$diamond: "../" + $folder + "/" + "diamond.svg";

$heartS: "../" + $folder + "/" + "heartS.svg";
$cloveS: "../" + $folder + "/" + "cloveS.svg";
$spikeS: "../" + $folder + "/" + "spikeS.svg";
$diamondS: "../" + $folder + "/" + "diamondS.svg";
